<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/show_event.css">
</head>

<body>


    <h2>Responsive Table</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>event name</th>
                    <th>Registration date</th>
                    <th>Event date</th>
                    <th>event time</th>
                    <th>event type</th>
                    <th>event status</th>
                    <th>event scope</th>
                </tr>
            </thead>
            <tbody>
                {{#data}}
                <tr>
                    <td>{{event_name}}</td>
                    <td>{{date.registration}}</td>
                    <td>{{date.event_date}}</td>
                    <td>{{time}}</td>
                    <td>{{type}}</td>
                    <td>{{status}}</td>
                    <td>{{scope.scope}}</td>
                </tr>
                {{/data}}
            </tbody>
        </table>
    </div>


</body>

</html>